<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticLogger.DaysBeforeFileLogExpires" value=""/>
    <add key="ElasticLogger.ElasticServer" value=""/>
    <add key="ElasticLogger.IsEnabled" value=""/>
    <add key="ElasticLogger.IsLog4NetEnabled" value=""/>
    <add key="ElasticLogger.IsLogToFileEnabled" value=""/>
    <add key="ElasticLogger.FileLogDatePattern" value=""/>
    <add key="ElasticLogger.FileLogPath" value=""/>
  </appSettings>
</configuration>