<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticLogger.AutoFlush" value="1"/>
    <add key="ElasticLogger.BufferSize" value="1"/>
    <add key="ElasticLogger.DaysBeforeFileLogExpires" value="7"/>
    <add key="ElasticLogger.ElasticServer" value=""/>
    <add key="ElasticLogger.FileLogDatePattern" value="yyyyMMdd"/>
    <add key="ElasticLogger.FileLogPath" value="Storage"/>
    <add key="ElasticLogger.IndexAppendDateFormat" value=""/>
    <add key="ElasticLogger.IsEnabled" value="1"/>
    <add key="ElasticLogger.IsDebugLog4NetEnabled" value="0"/>
    <add key="ElasticLogger.IsLogToFileEnabled" value="0"/>
  </appSettings>
</configuration>