<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticLogger.BufferSize" value="10"/>
    <add key="ElasticLogger.DaysBeforeFileLogExpires" value="7"/>
    <add key="ElasticLogger.ElasticServer" value="http://10.20.0.1:9200"/>
    <add key="ElasticLogger.IsEnabled" value="1"/>
    <add key="ElasticLogger.IsDebugLog4NetEnabled" value="1"/>
    <add key="ElasticLogger.IsLogToFileEnabled" value="1"/>
    <add key="ElasticLogger.FileLogDatePattern" value="yyyyMMdd"/>
    <add key="ElasticLogger.FileLogPath" value=""/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>